@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-3xl: 120rem;
  --font-display: "Manrope", sans-serif;
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.141 0.005 285.823);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.141 0.005 285.823);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.141 0.005 285.823);
  --color-primary: oklch(0.21 0.006 285.885);
  --color-primary-foreground: oklch(0.985 0 0);
  --color-secondary: oklch(0.967 0.001 286.375);
  --color-secondary-foreground: oklch(0.21 0.006 285.885);
  --color-muted: oklch(0.967 0.001 286.375);
  --color-muted-foreground: oklch(0.552 0.016 285.938);
  --color-accent: oklch(0.967 0.001 286.375);
  --color-accent-foreground: oklch(0.21 0.006 285.885);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-border: oklch(0.92 0.004 286.32);
  --color-input: oklch(0.92 0.004 286.32);
  --color-ring: oklch(0.705 0.015 286.067);
  --color-chart-1: oklch(0.646 0.222 41.116);
  --color-chart-2: oklch(0.6 0.118 184.704);
  --color-chart-3: oklch(0.398 0.07 227.392);
  --color-chart-4: oklch(0.828 0.189 84.429);
  --color-chart-5: oklch(0.769 0.188 70.08);
  --color-sidebar: oklch(1 0 0);
  --color-sidebar-foreground: oklch(0.141 0.005 285.823);
  --color-sidebar-primary: oklch(0.21 0.006 285.885);
  --color-sidebar-primary-foreground: oklch(0.985 0 0);
  --color-sidebar-accent: #ffb901;
  --color-sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --color-sidebar-border: oklch(0.92 0.004 286.32);
  --color-sidebar-ring: oklch(0.705 0.015 286.067);

  --color-black-0: #ffffff;
  --color-black-10: #fafafa;
  --color-black-20: #f5f5f5;
  --color-black-30: #ebebeb;
  --color-black-40: #dedede;
  --color-black-50: #bfbfbf;
  --color-black-60: #b0b0b0;
  --color-black-70: #a3a3a3;
  --color-black-80: #949494;
  --color-black-90: #858585;
  --color-black-100: #757575;
  --color-black-200: #666666;
  --color-black-300: #575757;
  --color-black-400: #4a4a4a;
  --color-black-500: #3b3b3b;
  --color-black-600: #2e2e2e;
  --color-black-700: #1c1c1c;
  --color-black-800: #0d0d0d;
  --color-black-900: #000000;

  --color-pink-50: #ffe8f1;
  --color-pink-75: #fea1c4;
  --color-pink-100: #fd7aac;
  --color-pink-200: #fd4188;
  --color-pink-300: #fc1a70;
  --color-pink-400: #b0124e;
  --color-pink-500: #9a1044;

  --color-yellow-50: #fff8e6;
  --color-yellow-75: #ffe297;
  --color-yellow-100: #ffd66c;
  --color-yellow-200: #ffc52c;
  --color-yellow-300: #ffb901;
  --color-yellow-400: #b38201;
  --color-yellow-500: #9c7101;

  --color-orange-50: #fff3e6;
  --color-orange-75: #ffcf96;
  --color-orange-100: #ffbc6b;
  --color-orange-200: #ff9f2b;
  --color-orange-300: #ff8b00;
  --color-orange-400: #b36100;
  --color-orange-500: #9c5500;

  --color-red-50: #ffebea;
  --color-red-75: #ffaeaa;
  --color-red-100: #ff8c87;
  --color-red-200: #ff5b53;
  --color-red-300: #ff3930;
  --color-red-400: #b32822;
  --color-red-500: #9c231d;

  --color-green-50: #e6fff1;
  --color-green-75: #96ffc4;
  --color-green-100: #6bffab;
  --color-green-200: #2bff87;
  --color-green-300: #00ff6e;
  --color-green-400: #00b34d;
  --color-green-500: #009c43;

  --color-blue-50: #e6f1ff;
  --color-blue-75: #96c4ff;
  --color-blue-100: #6babff;
  --color-blue-200: #2b87ff;
  --color-blue-300: #006eff;
  --color-blue-400: #004db3;
  --color-blue-500: #00439c;

  /* System Colors */
  --color-system-light-yellow: #FFEECC;
  --color-system-medium-yellow: #E59900;
  --color-system-light-red: #FFCCCC;
  --color-system-medium-red: #E50000;
  --color-system-light-green: #CCFFDD;
  --color-system-medium-green: #00B23C;

  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.625rem;
  --radius-xl: 0.825rem;
  --radius-4xl: 32px;
  --radius-5xl: 64px;
  --radius-inherit: inherit;
}

@dark {
  --color-background: oklch(0.141 0.005 285.823);
  --color-foreground: oklch(0.985 0 0);
  --color-card: oklch(0.21 0.006 285.885);
  --color-card-foreground: oklch(0.985 0 0);
  --color-popover: oklch(0.21 0.006 285.885);
  --color-popover-foreground: oklch(0.985 0 0);
  --color-primary: oklch(0.92 0.004 286.32);
  --color-primary-foreground: oklch(0.21 0.006 285.885);
  --color-secondary: oklch(0.274 0.006 286.033);
  --color-secondary-foreground: oklch(0.985 0 0);
  --color-muted: oklch(0.274 0.006 286.033);
  --color-muted-foreground: oklch(0.705 0.015 286.067);
  --color-accent: oklch(0.274 0.006 286.033);
  --color-accent-foreground: oklch(0.985 0 0);
  --color-destructive: oklch(0.704 0.191 22.216);
  --color-border: oklch(1 0 0 / 10%);
  --color-input: oklch(1 0 0 / 15%);
  --color-ring: oklch(0.552 0.016 285.938);
  --color-chart-1: oklch(0.488 0.243 264.376);
  --color-chart-2: oklch(0.696 0.17 162.48);
  --color-chart-3: oklch(0.769 0.188 70.08);
  --color-chart-4: oklch(0.627 0.265 303.9);
  --color-chart-5: oklch(0.645 0.246 16.439);
  --color-sidebar: oklch(0.21 0.006 285.885);
  --color-sidebar-foreground: oklch(0.985 0 0);
  --color-sidebar-primary: oklch(0.488 0.243 264.376);
  --color-sidebar-primary-foreground: oklch(0.985 0 0);
  --color-sidebar-accent: #ffb901;
  --color-sidebar-accent-foreground: oklch(0.985 0 0);
  --color-sidebar-border: oklch(1 0 0 / 10%);
  --color-sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .bg-radial-gradient {
    background: radial-gradient(69.18% 133.67% at 50% 50%, var(--tw-gradient-from) 0%, var(--tw-gradient-to) 100%);
  }
  .shadow-card {
    box-shadow: 0px 10px 36px 0px #00000029;
  }
}

/* Swiper custom pagination bullets */
.swiper-pagination-bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #a3a3a3 !important;
  border-radius: 9999px;
  margin: 0 4px;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #ffb901 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -30px!important;
}